<%- include('templates/header'); %>

    <div class="container">
        <h1 class="title">EDUCATION <i class="fa-sharp fa-solid fa-building-columns"></i></h1>
        <ul class="education" style="margin-top: 7% ;">
            <li>
                <h3><strong> high school</strong></h3>
                <edu class="place"> fe y alegria |</edu>
                <edu class="year">2021</edu>
                <br>
                <p class="des">I completed all my basic education in this school located in the town of Suba, in this place it was where a thousand doors to new and wonderful opportunities were opened for me</p>
            </li>
            <br>
            <li>
                <h3><strong> software programming technician</strong></h3>
                <edu class="place"> SENA |</edu>
                <edu class="year">2020-2021</edu>
                <br>
                <p class="des">This was my introduction to programming, all the technician did it virtually in the middle of the pandemic, which made it a little more complex as they were not prepared for it, but I really appreciate having done it because thanks to
                    him I was able to discover my taste for this world.</p>
            </li>
            <li>
                <h3><strong>technology in analysis and design of information systems (adsi)</strong></h3>
                <edu class="place"> SENA |</edu>
                <edu class="year">2022</edu>
                <br>
                <p class="des">In this technologist is where I acquired the strongest foundations to program and to understand the world of programming, not only the practice but also the quality, the tests, good practices and much more. In addition to everything, it
                    also opened many more doors for me, as was the competition from senasoft.</p>
            </li>
            <br>
            <li>
                <h3><strong> systems engineer</strong></h3>
                <edu class="place"> university "El bosque"|</edu>
                <edu class="year">2023 - x</edu>
                <br>
                <p class="des">One of the most important doors that my school opened for me was this, because in 2023 I started my engineering career at one of the best universities in the country with a full scholarship due to my good performance and dedication to
                    my community.</p>
            </li>

            <li>
                <h3><strong>senasoft competition</strong></h3>
                <edu class="place"> SENA |</edu>
                <edu class="year">sept 2022</edu>
                <p class="des">I was selected along with a colleague to participate in the largest national technological competition of the sena in the test automation category, in which I obtained second place among 16 apprentices from all over the country.</p>
            </li>
            <li>
                <h3><strong> selenium con screenplay </strong></h3>
                <edu class="place"> izy academy Q-VISION |</edu>
                <edu class="year">agust 2022</edu>
                <p class="des">In this course provided by the company q-vision due to the SENASOFT competition, I learned to automate web page tests with selenium and screenplay, it lasted 30 hours.</p>
            </li>
            <li>
                <h3>Complementary virtual MANAGEMENT SYSTEM OF THE SAFETY AND HEALTH AT WORK SG-SST</h3>
                <edu class="place"> SENA |</edu>
                <edu class="year">2022</edu>
            </li>
        </ul>

        <img src="./static/img/senasoft.jpeg" style="width: 100%; margin-top: 5%;">

        <h1 class="title">awards <i class="fa-solid fa-award"></i></h1>
        <ul class="education" style="margin-top: 3% ;">
            <li>
                <h3><strong>best icfes 2022 <p class="des">Jose Maria Velaz</p></strong></h3>
            </li>
            <li>
                <h3><strong>autonomy recognition<p class="des">Jose Maria Velaz</p></strong></h3>
            </li>
            <li>
                <h3><strong>recognition of excellence <p class="des">SENA</p></strong></h3>
            </li>
            <li>
                <h3><strong>second place SENASOFT <p class="des">SENA</p></strong></h3>
            </li>
        </ul>
    </div>

    </body>

    </html>