<%- include('templates/header'); %>

    <div class="container">
        <div class="row">
            <div id="data">
                <div class="col-md-4">
                    <img src="./static/img/me2.jpeg" id="me2">
                </div>
                <div class="col-md-8" id="table">
                    <h1 id="about">Web developer</h1>
                    <h5 class="inf">
                        <p>Hi! I am a student in the last quarter of SENA, passionate about my career and learning new things every day.</p>
                        <br>
                        <ul id="list">
                            <li style="font-weight: 100;">Name: Melanny Jutinico</li>
                            <li>Phone: +57 3229650546</li>
                            <li>Country: Colombia / Bogota</li>
                            <li>Birthay: 16 July 2004</li>
                            <li>Email: melannyjutinico@gmail.com</li>
                            <li>Degree: technology</li>
                        </ul>
                        <br><br><br><br>
                        <p>Check mi CV here:</p>
                        <a role="button" class="btn btn-outline-light btn-lg" href="https://drive.google.com/file/d/1lFgMfdiJwFAjR-tquMjTO9-Oq4l-AR6S/view?usp=sharing">Read</a>

                        </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            <br><br>
            <h1 style="font-family: paper; color: aliceblue;">About me</h1>
            <p class="inf">I'm Melanny Jutinico, the curious and questioning person behind this portfolio. At 18 years old I can say that although I am proud of the path I am taking, even though I know perfectly well that this is just my beginning, the things that I
                know are nothing compared to everything that is missing, I know that I must continue to reinvent myself daily. to keep up with the pace of technology.</p>
            <p class="inf">From a very young age I was always asking myself something new, I liked to try new things and experiment with everything within my reach, the moment technology came into my life I found a way to unite all that creativity to exploit and a half
                with a thousand shapes. I love the versatility that I can find in programming, I can explore all my design ideas with the front-end, I can try to solve a thousand new challenges in the back-end and complement everything with databases
                and more</p>
        </div>
    </div>
    </body>

    </html>