<!DOCTYPE html>
<%- include('templates/header'); %>

    <div id="index">
        <img src="./static/img/me.jpg" id="me">
        <div id="container">
            <h2 id="grettings">Hi! I'm </h2>
            <br>
            <h1 id="name">MELANNY JUTINICO</h1>
            <br>
            <div id="typed-strings">
                <p>Web developer</p>
                <p>Front-end</p>
                <p>Back-end</p>
                <p>Databases</p>
                <p>Automatic test</p>
                <p>Software quality</p>
            </div>
            <h1 class="typed"></h1>
            <script src="./static/js/typed.js"></script>
            <script>
                var typed = new Typed('.typed', {
                    stringsElement: '#typed-strings',
                    backSpeed: 40,
                    typeSpeed: 60,
                    loop: true
                });
            </script><br><br>
            <a target="_blank" role="button" class="btn btn-outline-light btn-lg" href="https://github.com/MelannyJutinico"><i class="fa-brands fa-github"></i>  Github</a>
            <a target="_blank" role="button" class="btn btn-outline-light btn-lg" style="margin-left: 3%;" href="https://facebook.com/MelannyZuleyJutinico"><i class="fa-brands fa-facebook"></i>  Facebook</a>
        </div>

    </div>
    </body>

    </html>